

$font-size: 28px;
$text-color:#3E3C56;
$back-image: url("../illustrations/backing.svg");
$link-back-image: url("../illustrations/link-backing.svg");

%shared-background-props {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    font-size: $font-size;
    margin-left: 10%;
    margin-right: 16px;
    margin-top: 8px;
}

a {
    text-decoration: none;
    color: $text-color;
}

#home-link {
    align-items: center;
    width: 50%;
}

#home-link-one  {
    @extend %shared-background-props;
    background-image: $back-image;
}

#other-links {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.links {
    @extend %shared-background-props;
    background-image: $link-back-image ;
    padding: .5rem 1rem; 
    

}

.links:hover {
    opacity: 75%;
}