

$font-size: 28px;
$text-color:#3E3D57;
$back-image: url("../illustrations/backing.svg");
$link-back-image: url("../illustrations/link-backing.svg");

%shared-background-props {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

header {    
    width: 100%;
    display: flex;
    font-size: $font-size - 5;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;

    h1 {
        font-size: $font-size;
        color: $text-color;
    }
    li, a {
        color: $text-color;
        display: inline-block;
        text-decoration: none;
        list-style: none;
        padding: 0px 10px;
    }

    img {
        height: 75%;
        width: 75%;
    }
  }

#home-link-one  {
    @extend %shared-background-props;
    background-image: $back-image;
}

  